{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Flasky</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
       <li class="nav-item active">
          <a class="nav-link" href="#">News Feed<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  </br>
    {% for photo in photos %}
      <div class='col-md-4 col-xs-12'>
        <div class="card">
            <img class="card-img-top" src="{{photo.url}}" alt="Photo image">
            <div class="card-block">
                <h4 class="card-title">{{photo.author.name}}</h4>
                <p class="card-text">Some quick example if you wanted to add description text.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tags:
                    {% for tag in photo.tags %}
                        {{tag.name}}
                    {% endfor %}

                </li>
                <li class="list-group-item">Comments:
                    <ul>
                         {% for comment in photo.comments %}
                        <li>
                            <b>{{comment.commenter.name}}</b>: {{comment.comment_string}}
                        </li>
                         {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="card-block">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

